{% extends "network/layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12 col-lg-6 offset-md-3">
            {% if user.is_authenticated %}
            <div style="margin: 1.5rem 0;" class="panel">
                <div class="panel-body">
                    <form id="newpost" enctype="multipart/form-data">
                        <div class="form-group">
                            <textarea class="form-control" id="createpost" rows="5" name="post"></textarea>
                        </div>
                        <button style="float:right;" class="btn btn-info btn-sm pull-right waves-effect waves-light"
                            type="submit">Post</button>
                    </form>
                </div>
            </div>
            {% endif %}
            <hr style="margin: 2rem 0;" class="margin-bottom-10">
            <ul class="list-group list-group-dividered list-group-full">
              {% for p in post %}
            {% include 'network/post.html' %}
            {% endfor %}
          </ul>
          <hr class="margin-bottom-5">
          {% if post.has_previous %}
          <button class="btn_prev"><a href="?page={{ post.previous_page_number }}"> Previous </a></button>
          {% endif %}
          {% if post.has_next %}
          <button class="btn_next"><a href="?page={{ post.next_page_number }}"> Next </a></button>
          {% endif %}
        </div>
    </div>
    </div>
</div>
{% endblock %}